@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font: 1rem/1.6 "Pretendard";
    margin: 0;
    padding: 0;
    background-color: #000;
}
